

.spinLoad{	 
	display: none; 
	background-color: rgba(0, 0, 0, 0.7); 
	height: 100%; 
	width: 100%; 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	z-index: 1000000;	
}
.spinLoad div{
	height: auto;
	width: auto; 
	padding: 12px; 
	margin: 0; 
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	z-index: 1000001;
}