
<div class = "row">
<div id = "Driver-panel" class="col-md-12 col-sm-12 col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading" style = "cursor: pointer;" onclick = "togglePanel('Driver-panel')" >
			<div class="row">
				<div class="col-lg-6 col-xs-6"> nuevo </div>
				<div style="text-align: right;" class="col-lg-6  col-xs-6   ">
					<i class="fa fa-chevron-down"></i>
				</div>
			</div>
		</div>
		<div style = "display: none;" class="panel-body">
			<form id="Driver-form" class="form-horizontal">



				<div class = "form-group">

					<input name="creationUTCTime" type="hidden">
					<input name="lastModificationUTCTime" type="hidden">
					<input name="locked" type="hidden">
					<input name="id" type="hidden">



				</div>

				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label ">Nombre </label>
					<div class="col-sm-6">
						<input onclick="clearBGC(this)" type="text"	class=" input-sm form-control required" name="name"	placeholder="Nombre">
					</div>
				</div>

				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label ">Documento </label>
					<div class="col-sm-6">
						<input onclick="clearBGC(this)" type="text"	class=" input-sm form-control required" name="document"	placeholder="Documento">
					</div>
				</div>

				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label ">Telefono </label>
					<div class="col-sm-6">
						<input onclick="clearBGC(this)" type="text"	class=" input-sm form-control " name="phone"	placeholder="Telefono">
					</div>
				</div>

				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label ">Direccion </label>
					<div class="col-sm-6">
						<input onclick="clearBGC(this)" type="text"	class=" input-sm form-control " name="address"	placeholder="Direccion">
					</div>
				</div>

				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label ">Correo Electronico </label>
					<div class="col-sm-6">
						<input onclick="clearBGC(this)" type="text"	class=" input-sm form-control " name="email"	placeholder="Correo Electronico">
					</div>
				</div>

				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label "> Numero de Licencia </label>
					<div class="col-sm-6">
						<input onclick="clearBGC(this)" type="text"	class=" input-sm form-control " name="driverLicense"	placeholder="Licencia">
					</div>
				</div>

			</form>
			<div style = "text-align: right;">
				<button type="button"
						class="btn btn-xs btn-danger"
						onclick="cancelSave('Driver');">Cancelar</button>
				&nbsp;
				<button type="button"
						class="btn btn-xs btn-success"
						onclick="save('Driver')">Guardar</button>
			</div>	
		</div>
	</div>
</div>
</div>

<div class = "row">
	<div class="col-md-12 col-sm-12 col-xs-12 ">
		<div class = "panel panel-default">
			<div class="panel-heading">
				Tabla
			</div>
			<div class="panel-body">
				<div class = "table-responsive ">
					<table id="Driver-table" class="table table-striped table-hover ">
			          <thead>
			          	 <tr>
			          	 	<td>
			          		</td>
			         	 </tr>
			          </thead>
			          <tbody>
			          	<tr>
			          		<td>
			          		</td>
			          	</tr>
			          </tbody>
			        </table>
				</div>
				
			</div>	
		</div>	   
     </div>
</div>	