<div class = "row">
    <div id = "Route-panel" class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style = "cursor: pointer;" onclick = "togglePanel('Route-panel'); initMap_route('map_route')" >
                <div class="row">
                    <div class="col-lg-6 col-xs-6"> nuevo </div>
                    <div style="text-align: right;" class="col-lg-6  col-xs-6   ">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div style = "display: none;" class="panel-body">
                <form id="Route-form" class="form-horizontal">



                    <div class = "form-group">

                        <input name="creationUTCTime" type="hidden">
                        <input name="lastModificationUTCTime" type="hidden">
                        <input name="locked" type="hidden">
                        <input name="id" type="hidden">


                    </div>

                    <div class = "form-group">
                        <label class="input-sm col-sm-4 control-label ">Nombre </label>
                        <div class="col-sm-6">
                            <input onclick="clearBGC(this)" type="text"	class=" input-sm form-control required"
                                   name="name"	placeholder="Nombre de la ruta">
                        </div>
                    </div>

                </form>

                <div class = "row">
                    <div class = "col-md-8 col-sm-8 col-xs-8">
                        <div id = "map_route" style = "width: 100%; height: 500px;">
                        </div>
                    </div>
                    <div class = "col-md-4 col-sm-4 col-xs-4">
                        <div class = "table-responsive " style = "height: 500px;">
                            <table class = "table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th> p </th>
                                        <th> Latitude </th>
                                        <th> Longitude </th>
                                    </tr>
                                </thead>
                                <tbody id = "table_body_path">
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>

                <div style = "text-align: right;">
                    <button type="button"
                            class="btn btn-xs btn-danger"
                            onclick="cancelSave('Route');">Cancelar</button>
                    &nbsp;
                    <button type="button"
                            class="btn btn-xs btn-success"
                            onclick="save('Route')">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class = "row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class = "panel panel-default">
            <div class="panel-heading">
                Tabla
            </div>
            <div class="panel-body">
                <div class = "table-responsive ">
                    <table id="Route-table" class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>