
<div class = "row">
    <div id = "Vehicle-panel" class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style = "cursor: pointer;" onclick = "togglePanel('Vehicle-panel')" >
                <div class="row">
                    <div class="col-lg-6 col-xs-6"> nuevo </div>
                    <div style="text-align: right;" class="col-lg-6  col-xs-6   ">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div style = "display: none;" class="panel-body">
                <form id="Vehicle-form" class="form-horizontal">



                    <div class = "form-group">

                        <input name="creationUTCTime" type="hidden">
                        <input name="lastModificationUTCTime" type="hidden">
                        <input name="locked" type="hidden">
                        <input name="id" type="hidden">


                        <label class="input-sm col-sm-4 control-label ">Placa </label>
                        <div class="col-sm-6">
                            <input onclick="clearBGC(this)" type="text"	class=" input-sm form-control required" name="plate" placeholder="Plate">
                        </div>





                    </div>



                </form>
                <div style = "text-align: right;">
                    <button type="button"
                            class="btn btn-xs btn-danger"
                            onclick="cancelSave('Vehicle');">Cancelar</button>
                    &nbsp;
                    <button type="button"
                            class="btn btn-xs btn-success"
                            onclick="save('Vehicle')">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class = "panel panel-default">
            <div class="panel-heading">
                Tabla
            </div>
            <div class="panel-body">
                <div class = "table-responsive ">
                    <table id="Vehicle-table" class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>	